* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Vazir";
}
:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #ffffff;
  --mainBlack: #222;
  --mainGray: #7c7c7c;
  --mainRed: #dc2626;
  --bodyColor: #0f172a;
  --bodyColorLightMode: #f1f5f9;
}

.todoBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  height: 3rem;
  padding: 0.8rem;
  border-radius: 15px;
  background-color: var(--secondaryColor);
}
.todoBlock div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.trashIcon {
  cursor: pointer;
  color: var(--mainRed);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 0.4rem;
  transition: all 0.3s;
}
.trashIcon:hover {
  background-color: var(--mainRed);
  color: var(--mainWhite);
}

.checkIcon {
  cursor: pointer;
  color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 0.4rem;
  transition: 0.2s;
}
.checkIcon:hover {
  color: var(--mainWhite);
  background-color: var(--primaryColor);
}
